<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Coal Map | Artdock</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    <link href="https://cdn.jsdelivr.net/npm/vue-mapbox@latest/dist/vue-mapbox.css" rel="stylesheet"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimal-ui">
      <meta name="apple-mobile-web-app-title" content="Coal Map">
      <meta name="application-name" content="Coal Map">
      <meta name="msapplication-TileColor" content="#00aba9">
      <meta name="theme-color" content="#ffffff">
      <link rel="icon" href="/img/icons/favicon.ico">
      <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
      <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5">
      <link rel="shortcut icon" href="/img/icons/favicon.ico">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
