<template>
  <Map />
</template>

<script>
import Map from '@/components/Map';

import { mapActions } from 'vuex';
export default {
  name: 'Main',
  components: {
    Map,
  },
  data() {
    return {
      staticData: null,
    };
  },
  async mounted() {
    await this.getStaticTypes();
    await this.getObjects();
  },
  methods: {
    ...mapActions(['getStaticTypes', 'getObjects']),
  },
};
</script>
