<template>
  <Map />
</template>

<script>
import Map from './Map';

export default {
  name: 'HelloWorld',
  components: {
    Map,
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss"></style>
