<template>
  <div :class="['map-marker', active && 'map-marker--active']">
    <v-tooltip color="rgb(32, 54, 78)" top nudge-top="20" max-width="300" fixed>
      <template #activator="{ on, attrs }">
        <div
          class="map-marker__inner"
          v-bind="attrs"
          @click="handleClick"
          v-on="on"
        >
          <div
            class="map-marker__pin"
            :style="{
              background: object.type.color || color,
              borderColor: corporateColor || object.type.color || color,
            }"
          >
            <v-icon
              v-if="!object.type.icon"
              class="map-marker__icon"
              v-text="icon"
            />
            <span v-else class="map-marker__icon" v-html="object.type.icon" />
          </div>
          <div
            class="map-marker__pulse"
            :style="{ color: corporateColor || color }"
          />
        </div>
      </template>
      <span v-text="title" />
    </v-tooltip>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'MapMarker',
  props: {
    title: {
      type: String,
      required: true,
      validator: (val) => val.length > 3,
    },
    color: {
      type: String,
      required: false,
      default: 'rgb(32, 54, 78)',
    },
    icon: {
      type: String,
      required: false,
      default: 'mdi-map-marker',
    },
    id: {
      type: Number,
      required: false,
      default: null,
    },
    object: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      active: false,
    };
  },
  computed: {
    ...mapGetters(['getObjectById', 'getCorporate']),
    corporateColor() {
      if (this.object.corporate) {
        const corporate = this.getCorporate(this.object.corporate);
        if (corporate) {
          return `rgba(${corporate.color}`;
        }
        return false;
      }
      return false;
    },
  },
  methods: {
    handleClick() {
      console.log(this.getObjectById(this.id));
    },
  },
};
</script>

<style lang="scss">
.map-marker {
  $this: &;
  position: absolute;

  &__inner {
    position: relative;
    transform: scale(0.8);
  }

  &__pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-width: 2px;
    border-style: solid;
    will-change: opacity, transform;
  }

  &__icon {
    display: flex;
    font-size: 1.25rem;
    color: #fff;
    margin: auto;
    transform: translate(-1px, 1px) rotate(45deg);

    & > svg {
      width: 100%;
      max-width: 0.9rem;
      height: 0.9rem;
      transform: translate(1px, -1px);
    }
  }

  &__pulse {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    height: 14px;
    width: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: -2;

    &:after {
      content: '';
      border-radius: 50%;
      height: 40px;
      width: 40px;
      position: absolute;
      margin: -13px 0 0 -13px;
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
      opacity: 0;
      filter: alpha(opacity=0);
      box-shadow: 0 0 2px 2px inset;
      animation-delay: 1.5s;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &:hover,
  &--active {
    z-index: 15;

    #{$this}__pulse {
      opacity: 1;
    }

    #{$this}__pin {
      transform: translateY(-2px) rotate(-45deg) scale(1.025);
      box-shadow: 0 2px 5px 5px rgba(0, 0, 0, 0.15);
    }
  }

  @for $i from 1 through 200 {
    &:nth-of-type(#{$i}) {
      #{$this}__pin {
        animation-delay: #{$i * 25ms};
      }
    }
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 0.3;
    filter: none;
  }
  100% {
    transform: scale(1.25, 1.25);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate3d(0, -2000px, 0) rotate(-45deg);
  }
  40% {
    opacity: 1;
    filter: none;
    transform: translate3d(0, 30px, 0) rotate(-45deg);
  }
  60% {
    transform: translate3d(0, -20px, 0) rotate(-45deg);
  }
  75% {
    transform: translate3d(0, 10px, 0) rotate(-45deg);
  }
  85% {
    transform: translate3d(0, -5px, 0) rotate(-45deg);
  }
  95% {
    transform: translate3d(0, 2px, 0) rotate(-45deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
</style>
