<template>
  <component :is="component">
    <router-view />
  </component>
</template>

<script>
import BaseLayout from '@/layouts/BaseLayout';
import NewLayout from '@/layouts/NewLayout';
export default {
  name: 'App',
  components: {
    BaseLayout,
    NewLayout,
  },
  data: () => ({
    layout: 'Base',
  }),
  computed: {
    component() {
      return `${this.layout}Layout`;
    },
  },
};
</script>
<style lang="scss">
a {
  text-decoration: none;
  color: inherit;
}
</style>
