<template>
  <MglMap
    :class="['map-wrapper', isLoaded && 'is-loaded']"
    :access-token="accessToken"
    :map-style.sync="mapStyle"
    :pitch="0"
    :max-zoom="18"
    attribution-control
    :drag-rotate="false"
    :locale="locale"
    @zoom="zooming"
    @zoomend="zoomEnd"
    @load.once="onLoad"
  >
    <MglMarker
      v-for="object in getObjectsList"
      :key="'object-' + object.id"
      :coordinates="object.lngLat"
      @click="flyToMarker"
    >
      <MapMarker
        :id="object.id"
        slot="marker"
        :title="object.title"
        :object="object"
      />
      <div>
        {{ object.title }}
      </div>
    </MglMarker>
    <!--    <MglNavigationControl visualize-pitch :show-compass="false" />-->
    <MglScaleControl position="bottom-left" />
  </MglMap>
</template>

<script>
import MapMarker from './components/MapMarker';
import Mapbox from 'mapbox-gl';
import {
  MglMap,
  MglScaleControl,
  MglMarker,
  // MglNavigationControl,
} from 'vue-mapbox';

import { mapGetters } from 'vuex';

export default {
  name: 'Map',
  components: {
    MglMap,
    MglScaleControl,
    MglMarker,
    MapMarker,
    // MglNavigationControl,
  },
  data() {
    return {
      isLoaded: false,
      searchQuery: '',
      markerZoom: 16,
      accessToken: process.env.VUE_APP_ACCESS_TOKEN,
      mapStyle:
        process.env.NODE_ENV === 'production'
          ? process.env.VUE_APP_MAPBOX_STYLE_PROD
          : process.env.VUE_APP_MAPBOX_STYLE_DRAFT,
      mapWrapper: null,
      locale: {
        'AttributionControl.ToggleAttribution': 'Переключение аттрибутов',
        'AttributionControl.MapFeedback': 'Ответ карты',
        'FullscreenControl.Enter': 'Полноэкранный режим',
        'FullscreenControl.Exit': 'Выйти из полноэкранного режима',
        'GeolocateControl.FindMyLocation': 'Определить мою геолокацию',
        'GeolocateControl.LocationNotAvailable': 'Геолокация недоступна',
        'LogoControl.Title': 'Mapbox лого',
        'NavigationControl.ResetBearing': 'Сброс к Северу',
        'NavigationControl.ZoomIn': 'Увеличить',
        'NavigationControl.ZoomOut': 'Уменьшить',
        'ScaleControl.Feet': 'фт.',
        'ScaleControl.Meters': 'м.',
        'ScaleControl.Kilometers': 'км.',
        'ScaleControl.Miles': 'миль',
        'ScaleControl.NauticalMiles': 'нм.',
      },
      currentActive: null,
    };
  },
  computed: {
    ...mapGetters(['getObjectsList']),
    defaultPosition() {
      return {
        center: [31.412, 47.737],
        zoom: 5.6,
      };
    },
  },
  created() {
    this.mapbox = Mapbox;
    this.mapbox.setLocale = this.locale;
    this.mapbox.workerCount = 12;
  },
  methods: {
    async flyToMarker(event) {
      if (this.currentActive) {
        return;
      }
      this.mapbox = event.map;
      await event.map.flyTo({
        center: event.component.marker._lngLat,
        zoom: this.markerZoom,
        pitch: this.getPitchLvl(this.markerZoom),
      });
      this.currentActive = true;
    },
    getPitchLvl(zoom) {
      return zoom > 6 ? (zoom - 6) * 6 : 0;
    },
    getCoords(el) {
      return [el.longitude, el.latitude];
    },
    zoomEnd() {
      this.currentActive = false;
    },
    async zooming(event) {
      if (event.map._zooming) {
        return;
      }
      this.mapbox = event.map;
      const zoomLvl = event.map.getZoom();
      await requestAnimationFrame(() =>
        event.map.setPitch(this.getPitchLvl(zoomLvl))
      );
    },
    async onLoad(event) {
      const asyncActions = event.component.actions;
      this.mapbox = event.map;
      await asyncActions.fitBounds([
        [43.688026158244696, 52.538120455323735],
        [18.94057534734614, 43.87933193300822],
      ]);
      event.map._locale = this.locale;
      this.isLoaded = true;
      setTimeout(
        () => this.mapbox.setMaxBounds(this.mapbox.getBounds(100)),
        1000
      );
    },
  },
};
</script>
<style lang="scss">
.map-wrapper {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  //border-radius: 2rem;
  overflow: hidden;

  canvas {
    outline: none;
  }

  .mapboxgl-ctrl-logo,
  .mapboxgl-ctrl-attrib {
    display: none;
  }

  .mapboxgl-ctrl-scale {
    background-color: #fff;
    border-color: rgba(32, 54, 78, 1);
    box-shadow: 2px 2px 5px 4px rgba(32, 54, 78, 0.1);
  }
  .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    margin-left: 2rem;
  }

  &.is-loaded {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}
.mapboxgl-ctrl-top-right {
  margin-right: 1rem;
}
</style>
