<template>
  <v-app>
    <v-app-bar app color="transparent" fixed dark flat clipped-left>
      <div class="d-flex align-center">
        <Logo dark />
      </div>
      <v-spacer />
      <router-link to="/about" exact>
        <v-btn color="primary" dark>
          <v-icon class="mr-1">mdi-account</v-icon>
          <span>Войти</span>
        </v-btn>
      </router-link>
    </v-app-bar>
    <v-main>
      <transition name="slide-fade" mode="out-in">
        <keep-alive>
          <slot />
        </keep-alive>
      </transition>
    </v-main>
    <Footer />
  </v-app>
</template>

<script>
import Footer from '@/components/common/Footer';
import Logo from '@/components/common/Logo';
export default {
  name: 'BaseLayout',
  components: {
    Footer,
    Logo,
  },
  data() {
    return {
      drawer: true,
    };
  },
};
</script>

<style lang="scss">
.v-main {
  background-color: #f2f2f2;
  padding-top: 0 !important;
}
.slide-fade-enter-active {
  transition: all 0.5s ease;
}
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
