<template>
  <v-app id="new-map">
    <v-navigation-drawer
      v-model="drawer"
      app
      color="rgb(32, 54, 78)"
      width="320"
      :mini-variant="isMobile"
      mini-variant-width="110"
      mobile-breakpoint="1024"
    >
      <div class="wrapper-nav">
        <Logo />
        <nav class="wrapper-nav__nav-list nav-list">
          <div class="nav-list__item">
            <router-link
              to="/"
              class="nav-list__link"
              exact-active-class="nav-list__link--active"
            >
              <div v-show="!isMobile" class="nav-list__overlay" />
              <v-icon class="mr-3">mdi-map</v-icon>
              <span v-show="!isMobile" class="nav-list__text">Главная</span>
            </router-link>
          </div>
          <div class="nav-list__item">
            <router-link
              to="/about"
              class="nav-list__link"
              exact-active-class="nav-list__link--active"
            >
              <div v-show="!isMobile" class="nav-list__overlay" />
              <v-icon class="mr-3">mdi-map</v-icon>
              <span v-show="!isMobile" class="nav-list__text">Тест</span>
            </router-link>
          </div>
        </nav>
      </div>
    </v-navigation-drawer>
    <v-main class="wrapper__main" color="#503E9D">
      <v-container fluid class="wrapper__content">
        <v-container fluid class="wrapper__inner">
          <transition name="slide-fade" mode="out-in">
            <keep-alive>
              <slot />
            </keep-alive>
          </transition>
        </v-container>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Logo from '@/components/common/Logo';

export default {
  name: 'NewLayout',
  components: {
    Logo,
  },
  data() {
    return {
      drawer: true,
      window: window,
      isMobile: window.innerWidth <= 1264,
    };
  },
  computed: {
    windowHeight() {
      return window.innerHeight - 48;
    },
    windowWidth() {
      return window.innerWidth <= 1264;
    },
  },
  watch: {
    window() {
      this.isMobile = this.window.innerWidth <= 1264;
    },
  },
};
</script>

<style lang="scss">
.slide-fade-enter-active {
  transition: all 0.5s ease;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

$main: rgb(32, 54, 78);
$white: #f2f2f2;
#new-map {
  background-color: $main;
}

.v-navigation-drawer__border {
  display: none;
}

.wrapper {
  background-color: $main;

  &__main {
    .v-main__wrap {
      z-index: 9;
      background-color: $main;
      padding: 1.5rem;
      max-height: 100vh;
      overflow: hidden;

      @media (min-width: 1264px) {
        padding: 1.5rem 1.5rem 1.5rem 0;
      }
    }
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    max-width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 3rem;
    padding: 0 2rem;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(164, 164, 164, 0.2);
  }

  &__inner {
    display: flex;
    flex: 1 1 auto;
    padding: 2rem 0;
    overflow-y: scroll;
  }
}

.wrapper-nav {
  display: flex;
  flex: 1 1 100%;
  padding: 9.25rem 0 10.25rem 2.25rem;
  flex-direction: column;

  &__nav-list {
    padding: 7rem 0;
  }

  .logo {
    padding: 1rem 3rem 1rem 0.75rem;
    align-items: center;
    position: static;
    flex-shrink: 0;

    &__icon {
      border-radius: 1rem;
      background-color: lighten($main, 7);
      width: 3.5rem;
      height: 3.5rem;
      min-width: 3.5rem;
      padding: 0.5rem;
    }

    &__text {
      font-weight: 700 !important;
      font-size: 28px;
      line-height: 42px;
      margin-left: 1.25rem;
    }
  }
}

.nav-list {
  display: flex;
  flex-direction: column;

  &__text {
    z-index: 2;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    color: #fff;
  }

  &__link {
    flex-grow: 1;
    color: #fff;
    padding: 0 1.5rem;

    & > span,
    & > i {
      color: #fff !important;
    }

    &--active,
    &:hover {
      display: flex;
      align-items: center;
      height: 100%;
      color: #fb6d3a;

      & > span,
      & > i {
        color: #fb6d3a !important;
        z-index: 2;
      }

      .nav-list__overlay {
        opacity: 1;
      }
    }

    &:hover {
      .nav-list__overlay {
        box-shadow: 0 0.25rem 3rem rgba(0, 0, 0, 0.3);
        z-index: 1;
      }
    }
  }

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $white;
    box-shadow: 0 0.25rem 3rem rgba(0, 0, 0, 0.02);
    border-radius: 2rem 0 0 2rem;
    opacity: 0;
    transition: 0.3s ease-in-out;
    will-change: opacity, box-shadow;

    &:after {
      content: '';
      position: absolute;
      background-color: transparent;
      bottom: 100%;
      right: 0;
      height: 4rem;
      width: 2rem;
      border-bottom-right-radius: 2rem;
      box-shadow: 0 2rem 0 0 $white;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: transparent;
      top: 100%;
      right: 0;
      height: 4rem;
      width: 2rem;
      border-top-right-radius: 2rem;
      box-shadow: 0 -2rem 0 0 $white;
    }
  }

  &__item {
    height: 3.75rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
  }
}

@keyframes link-appear {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes link-parts-appear {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(50%);
  }
  50%,
  100% {
    transform: translateX(100%);
  }
}
</style>
